body {
  margin: 0;
}
h1 {
  font-size: 40px;
  color: #62045f;
}
h2 {
 font-size: 36px;
 color: #62045f;
}
h3 {
 font-size: 30px;
 color: #62045f;
}
h4 {
 font-size: 26px;
}
h5 {
 font-size: 20px;
}
h6 {
 font-size: 16px;
}
p {
 font-size: 20px;
}