body {
 margin: 0;
 background: #ededed;	
}
h2 {
 font-size: 36px;
}
h3 {
 font-size: 30px;
}
h2, h3 {
 margin: 0;
 color: #62045f;
	padding: 1em 1em;
}
p {
	margin: 0;
	padding: 1em 2em;
	font-size: 20px;
}
.html-code1 {
	display: block;
 margin-left: auto;
 margin-right: auto;
 width: 50%;
	border: 2px solid #62045f;
	border-radius: 10px;
}
mark {
	background-color: #fdcefc;
	color: #62045f; 
}
.html-grid {
	padding-top: 20px;
	background: #ededed;
 min-height: 100vh; 
}
.html-content {
	background: white;	 
}
.sidebar {
 background: #fdcefc; 
}
/*--------------------------------------------------------------
If no grid support, limit width to 50em and center align
--------------------------------------------------------------*/
@supports not (display: grid) {
	.html-grid {
		max-width: 50em;
		margin: 0 auto;
	}
}
/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/
@media screen and (min-width: 600px) {
	@supports (display: grid) {
		.html-grid {
			display: grid;
			grid-template-columns: 1fr repeat(6, minmax(auto, 11em)) 1fr;
			grid-template-rows: minmax(1em, auto) 1fr auto minmax(1em, auto);
		}
		.html-content {
			grid-column: 2/6;
		}
		.sidebar {
			grid-column: 6/8;
		}		
	}
}
