html {
	font-family: Ubuntu, sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}
body {
	margin: 0;	
}
.view_port {
  background-color: #a80569;
  height: 10px;
  width: 100%;
  overflow: hidden;
}
.cylon_eye {
  background-color: #fdcefc;
  background-image: linear-gradient(to right,
      rgba(168, 5, 105, .9) 25%,
      rgba(168, 5, 105, .1) 50%,
      rgba(168, 5, 105, .9) 75%);
  color: white;
  height: 100%;
  width: 30%;

  -webkit-animation: 4s linear 0s infinite alternate move_eye;
          animation: 4s linear 0s infinite alternate move_eye;
}

@-webkit-keyframes move_eye { from { margin-left: -20%; } to { margin-left: 100%; }  }
        @keyframes move_eye { from { margin-left: -20%; } to { margin-left: 100%; }  }
h2 {
 font-size: 36px;
}
h3 {
 font-size: 30px;
}
p, a {
 font-size: 20px;
}
h2, h3 {
	margin: 0;
	padding: 1em 1em;
}
p, a {
	margin: 0;
	padding: 1em 2em;
}
/*--------------------------------------------------------------
General styles
--------------------------------------------------------------*/
.home-grid {
	background: #ededed;
 min-height: 100vh; 
}
.main-content h2 {
 background: white;
 color: #62045f;
}
.sidebar h3 {
 background: #fdcefc;
 color: #62045f;
}
/*--------------------------------------------------------------
If no grid support, limit width to 50em and center align
--------------------------------------------------------------*/
@supports not (display: grid) {
	.home-grid {
		max-width: 50em;
		margin: 0 auto;
	}
}
/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/
@media screen and (min-width: 600px) {
	@supports (display: grid) {
		.home-grid {
			display: grid;
			grid-template-columns: 1fr repeat(6, minmax(auto, 11em)) 1fr;
			grid-template-rows: minmax(1em, auto) 1fr auto minmax(1em, auto);
		}
		.main-content {
			grid-column: 2/6;
		}
		.sidebar {
			grid-column: 6/8;
		}		
	}
}
