<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ page.title }}</title>

    <link
      href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/css/header.css" />
    <link rel="stylesheet" type="text/css" href="/css/footer.css" />
    <link rel="stylesheet" type="text/css" href="/css/general.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/portfolio.css" />
    <link
      rel="stylesheet"
      href="//use.fontawesome.com/releases/v5.0.7/css/all.css"
    />
  </head>

  <body>
    <header>
      <img class="logo" src="/images/HummingbirdLogo65-AB.png" alt="Logo" />
      <nav id="primary-navlinks">
        <ul class="navlinks">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <div id="secondary-navlinks" class="grid-container">
      <div><a href="/html">HTML</a></div>
      <div><a href="/css">CSS</a></div>
      <div><a href="/javascript">Javascript</a></div>
      <div><a href="/github">Github</a></div>
    </div>
    <div class="container">
      {{ content }}
    </div>
    <footer>
      <div class="grid-container-1">
        <div>1</div>
        <div>2</div>
        <div>3</div>
      </div>
      <br />
      <div class="grid-container-2">
        <div></div>
        <div class="icon-bar">
          <a href="mailto:info@ascribebureau.com"
            ><i class="far fa-envelope"></i
          ></a>
          <a href="https://github.com/steve-ab"
            ><i class="fab fa-github"></i
          ></a>
          <a href="#"><i class="fab fa-codepen"></i></a>
          <a href="#"><i class="fab fa-twitter-square"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook-square"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
        <div></div>
      </div>

      <h6 class="copyright">
        Copyright © date section
      </h6>
      <h6 class="designed-by">
        <a href="https://steve-ab.github.io">Designed by - Steve-AB</a>
      </h6>
      >
    </footer>
  </body>
</html>
